* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
}

#header {
  background-color: #ffffff;
  text-align: center;
  padding-top: 1.5%;
  padding-bottom: 0.5%;
}
#header a {
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  max-width: 550px;
  width: 100%;
}

#content {
  background-image: url("../img/background-home.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  padding: 17% 0;
  text-align: center;
}
#content h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 2.25rem;
}
#content p {
  padding-top: 3%;
  color: #ffffff;
  font-size: 0.95rem;
}
#content .form {
  padding: 13% 0;
  width: 95%;
}
#content .form:first-child {
  padding-right: 0;
  padding-left: 5%;
}
#content input {
  border: none;
  border-bottom: 2px solid #ff6e14;
  background: none;
  width: 68%;
  color: #ff6e14;
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 2.25rem;
}
#content input:focus {
  outline: none;
}
#content .linkshort {
  color: #ffffff;
}
#content .close-icon {
  border: none;
  background-color: transparent;
  display: none;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
  position: relative;
}
#content .close-icon:after {
  content: "X";
  display: inline-block;
  width: 1%;
  height: 1.5%;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: -17px;
  bottom: 0;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  font-weight: normal;
  font-size: 0.75rem;
  cursor: pointer;
}

:placeholder-shown {
  color: #ff6e14;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ff6e14;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #ff6e14;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #ff6e14;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #ff6e14;
}

#link {
  color: #ff6e14;
}

#shortthat {
  float: right;
  background: none;
  width: 29%;
  color: #ffffff;
  background-color: #ff6e14;
  border: none;
  text-transform: uppercase;
  font-size: 0.95rem;
  height: 35px;
  cursor: pointer;
  font-weight: bold;
  line-height: 2.25rem;
}

.title {
  margin-top: 10%;
  text-transform: uppercase;
  color: #AA1423;
  font-size: 1.8rem;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  padding-top: 1.5%;
  font-weight: normal;
}

#table {
  width: 90%;
  line-height: 2.5rem;
  padding-left: 5%;
  border-spacing: 0;
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 3%;
}
#table tr .url a, #table tr .url a:link, #table tr .url a:visited, #table tr .url a:hover, #table tr .url a:active {
  text-decoration: none;
  color: #AA1423;
  font-size: 0.9rem;
}
#table tr .hits {
  text-align: right;
  color: #777;
}
#table tr td {
  border-bottom: 1px solid #d2d2d2;
}
#table tr:last-child td {
  border-bottom: none;
}

#hits {
  background-image: url("../img/background-hits.png");
  background-color: #EEE;
  background-position: top center;
  background-repeat: no-repeat;
}
#hits h1 {
  margin-top: 5%;
  padding-top: 10%;
}
#hits p {
  text-align: center;
  color: #777;
  font-size: 0.9rem;
  padding-top: 0.5%;
  padding-bottom: 3.5%;
}

#counter {
  color: #AA1423;
  font-size: 1.8rem;
  font-family: 'Roboto Slab', serif;
  margin: 0 auto;
  margin-top: 2%;
  padding: 2%;
  padding-right: 4%;
  width: 35%;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  text-align: center;
  background: #ffffff;
}

.wrapper-footer {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 2%;
}

#footer-left {
  float: left;
  display: block;
  width: 60%;
  padding-left: 4%;
}
#footer-left a {
  color: #AA1423;
  font-size: 1.12rem;
}

#footer-right {
  float: right;
  display: block;
  width: 30%;
  text-align: right;
  padding-right: 4%;
}
#footer-right a:first-child {
  padding-right: 2%;
}
